
.card{
    padding: 0;
    border: 4px solid rgb(122, 122, 122);
    padding: 1rem;
    border-radius: 2.5rem;
}

.card ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.card ul li{
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: rgb(85, 85, 85);
}

.card ul li .name{
    font-size: 1.6rem;
    font-weight: bold;
}

.card img{
    height: 280px;
    width: 100%;
    object-fit: cover;
}


